#!/bin/bash

#config file for HappyNeigbor app
#config recording device in:
# etc/asound.conf
# ~/.asoundrc  

#check which device is used to play the file with <playAudio> script
#one can use "cat /proc/asound/cards" to check it
PLAY_AUDIO=YES
PLAYING_DEVICE=hw:2,0

SLEEP_SECONDS_BEFORE_PLAY=1

OUTPUT_FILENAME=recording.wav
OUTPUT_FILE_PATH=/home/pi/Documents/PythonProjects/HappyNeigbor/audio_samples
OUTPUT_DATA_FILE_PATH=/home/pi/Documents/PythonProjects/HappyNeigbor/audio_samples/processed_data
SAMPLES=48000

USE_HEADER=YES
HEADER_OUTPUT_FILENAME=chiquito_de_la_calzada_al_ataque_minvol.wav
HEADER_OUTPUT_PATH=/home/pi/Documents/PythonProjects/HappyNeigbor/audio_samples/headers

NOISE_PROCESSING=YES
PROFILE_FILE=/home/pi/Documents/PythonProjects/HappyNeigbor/audio_samples/noise_profiles/mic_artifact10s.profile
SENSITIVITY=0.21

#if LOWPASS_FILTER_LFREQ=0k And LOWPASS_FILTER_HFREQ=0k filter will be not applied
LOWPASS_FILTER_LFREQ=0k
LOWPASS_FILTER_HFREQ=0k

ADD_TONE=NO
TONE_FREQ_HZ=80
TONE_VOLUME_DB=-10

MODIFY_OUTPUT_FILE_VOLUME=YES
OUTPUT_FILE_VOLUME=3

REPEAT_SAMPLE=NO
TIMES_TO_REPEAT=3
REPEAT_SLEEP_TIME_IN_MS=0.2

SPECTROGRAM_JPG_QUALITY=80
